body, html {
  height: 100%;
}

section.notepad-row {
  height: 100%;
}

section article {
  /*background-color: #abc;*/
  /*hsl(100, 10%, 80%)*/
}

article.mic-pane ~ article.tools {
    background-color: hsl(100, 10%, 90%);
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

article.tools a, 
article.tools a:link, 
article.tools a:active, 
article.tools a:visited {
  color: #007BFF;
}

article.tools a:hover {
  color: #7fb0ff;
}

.notepad {
  background-image: url("../img/Paper.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: repeat;
  background-size: calc(100% - 200px);
  line-height: 2.4;
}

.notepad p {
    margin-left: 22%;
    margin-top: 3%;
    width: 72%;
    font-weight: bold;
}

.mic-pane {
	text-align: center;
}
.mic {
	cursor: pointer;
	padding: 1em;
}
.mic:hover {
	/*background-color: rgba(0, 0, 0, 1);*/
}

@media only screen and (max-width: 1000px) {
	.notepad {
  background-image: url("../img/Paper2.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: repeat;
  background-size: calc(100%);
  line-height: 2.4;
}
.notepad p {
    font-weight: bold;
    margin-left: 0%;
    /*margin-top: 0%;*/
    width: 97%;
}
}